<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="BaiduSearchSuite" parallel="tests" thread-count="2">

    <!-- Chrome 浏览器测试 -->
    <test name="Baidu Search on Chrome">
        <parameter name="searchTerm" value="Selenium自动化测试"/>
        <parameter name="grid.browser" value="chrome"/>
        <classes>
            <class name="com.baidu.web.tests.BaiduSearchTest"/>
        </classes>
    </test>

    <!-- Firefox 浏览器测试 -->
<!--    <test name="Baidu Search on Firefox">-->
<!--        <parameter name="searchTerm" value="Allure Report"/>-->
<!--        <parameter name="grid.browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="com.baidu.web.tests.BaiduSearchTest"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>
